image: makeorg/docker-sbt-coursier-nvm

variables:
  CI_BUILD: "true"

stages:
  - build

build:
  stage: build
  tags:
    - docker
  before_script:
    - if [ ! -e /var/run/docker.sock ]; then DOCKER_DRIVER=vfs dockerd & fi
    - until docker ps; do echo "waiting for docker to be up..."; sleep 0.5; done
    - docker login "https://$NEXUS_URL" --username "$NEXUS_USER" --password "$NEXUS_PASSWORD"
    - . /root/.profile
  script:
    - sbt clean publish
    # TODO: only publish on master ?
    # TODO: call rundeck
  cache:
    paths:
      - /root/.coursier
      - /root/.ivy2

