<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta content="<%= htmlWebpackPlugin.options.title %>" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div id="make-app"></div>
</body>
</html>