
@import "node_modules/bulma/sass/utilities/_all.sass"
@import "node_modules/bulma/sass/base/_all.sass"
@import "node_modules/bulma/sass/components/navbar.sass"
@import "node_modules/bulma/sass/elements/form.sass"
@import "node_modules/bulma/sass/elements/icon.sass"
@import "node_modules/bulma/sass/elements/notification.sass"
@import "node_modules/bulma/sass/elements/other.sass"
@import "node_modules/bulma/sass/grid/_all.sass"
@import "node_modules/bulma/sass/layout/_all.sass"
@import "node_modules/normalize-scss/sass/_normalize.scss"

@font-face
  font-family: 'TradeGothicLTStdBdCn20'
  src: url('./fonts/trade-gothic-lt-std-bold-condensed-no-20-58d41e7f3b3bb.otf')
  src: url('./fonts/TradeGothicLTStd-BdCn20.woff2') format('woff2')
  src: url('./fonts/TradeGothicLTStd-BdCn20.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PlayfairDisplayRegular'
  src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2')
  src: url('./fonts/PlayfairDisplay-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PlayfairDisplayItalic'
  src: url('./fonts/PlayfairDisplay-Italic.woff2') format('woff2')
  src: url('./fonts/PlayfairDisplay-Italic.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PlayfairDisplayBoldItalic'
  src: url('./fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2')
  src: url('./fonts/PlayfairDisplay-BoldItalic.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PlayfairDisplayBold'
  src: url('./fonts/PlayfairDisplay-Bold.woff2') format('woff2')
  src: url('./fonts/PlayfairDisplay-Bold.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PlayfairDisplayBlackItalic'
  src: url('./fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2')
  src: url('./fonts/PlayfairDisplay-BlackItalic.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PlayfairDisplayBlack'
  src: url('./fonts/PlayfairDisplay-Black.woff2') format('woff2')
  src: url('./fonts/PlayfairDisplay-Black.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CircularStdMedium'
  src: url('./fonts/CircularStd-Medium.woff2') format('woff2')
  src: url('./fonts/CircularStd-Medium.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CircularStdBook'
  src: url('./fonts/CircularStd-Book.woff2') format('woff2')
  src: url('./fonts/CircularStd-Book.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CircularStdBold'
  src: url('./fonts/CircularStd-Bold.woff2') format('woff2')
  src: url('./fonts/CircularStd-Bold.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CircularStdBlack'
  src: url('./fonts/CircularStd-Black.woff2') format('woff2')
  src: url('./fonts/CircularStd-Black.woff') format('woff')
  font-weight: normal
  font-style: normal

$fa-font-path: "node_modules/font-awesome/fonts"
@import "node_modules/font-awesome/scss/font-awesome.scss"

html
    font-size: 62.5%
    font-family: CircularStdMedium
body
    margin: 0
    padding: 0
    color: $black
