@import "node_modules/reset-css/_reset.scss"

@import "node_modules/bulma/sass/utilities/_all.sass"
@import "node_modules/bulma/sass/base/helpers.sass"
@import "node_modules/bulma/sass/components/navbar.sass"
@import "node_modules/bulma/sass/elements/form.sass"
@import "node_modules/bulma/sass/elements/icon.sass"
@import "node_modules/bulma/sass/elements/button.sass"
@import "node_modules/bulma/sass/elements/tag.sass"
@import "node_modules/bulma/sass/elements/notification.sass"
@import "node_modules/bulma/sass/elements/other.sass"
@import "node_modules/bulma/sass/elements/button.sass"
@import "node_modules/bulma/sass/components/navbar.sass"
@import "node_modules/bulma/sass/grid/_all.sass"
@import "node_modules/bulma/sass/layout/_all.sass"


/* make fonts */
@font-face
    font-family: 'TradeGothicLTStdBdCn20'
    src: url('./fonts/TradeGothicLTStd-BdCn20.ttf')
    src: url('./fonts/TradeGothicLTStd-BdCn20.woff2') format('woff2')
    src: url('./fonts/TradeGothicLTStd-BdCn20.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'CircularStdBook'
    src: url('./fonts/CircularStd-Book.woff2') format('woff2')
    src: url('./fonts/CircularStd-Book.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'CircularStdBold'
    src: url('./fonts/CircularStd-Bold.woff2') format('woff2')
    src: url('./fonts/CircularStd-Bold.woff') format('woff')
    font-weight: normal
    font-style: normal

$fa-font-path: "node_modules/font-awesome/fonts"
@import "node_modules/font-awesome/scss/font-awesome.scss"


/* init */

html
    height: 100%
    -webkit-font-smoothing: antialiased
    overflow-y: scroll


body
    height: 100%
    font-size: 1.125em
    font-family: CircularStdBook

#make-app
    height: 100%

*
    box-sizing: border-box
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    -webkit-tap-highlight-color: transparent


*:focus
    outline: none


*::-moz-focus-inner
    border: 0


input:required:invalid
    outline: none


::-moz-selection
    background-color: #253186
    color: #FFF


::selection
    background-color: #253186
    color: #FFF

a
    text-decoration: none
    cursor: pointer
    color: initial


img
  height: auto
  max-height: 100%
  max-width: 100%
  vertical-align: middle

svg
  max-width: 100%


/* reset button */

select:-moz-focusring
    color: transparent
    text-shadow: 0 0 0 #000

button,
input[type="submit"]
    -webkit-appearance: button
    cursor: pointer

input
    -webkit-appearance: none
    border-radius: 0


[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button
    box-sizing: content-box
    padding: 0
    margin: 0
    border: 0
    font: inherit
    text-align: left
    line-height: normal
    background: none
    color: inherit
    overflow: visible
    user-select: none
    cursor: pointer


input::-moz-focus-inner,
button::-moz-focus-inner
    border: 0
    padding: 0
