$fa-font-path: "node_modules/font-awesome/fonts";

@import "node_modules/bulma/sass/utilities/_all.sass"
@import "node_modules/bulma/sass/base/_all.sass"
@import "node_modules/bulma/sass/layout/_all.sass"
@import "node_modules/bulma/sass/elements/other.sass"
@import "node_modules/bulma/sass/elements/icon.sass"
@import "node_modules/bulma/sass/grid/_all.sass"
@import "node_modules/font-awesome/scss/font-awesome.scss"
@import "node_modules/normalize-scss/sass/_normalize.scss"

html
    font-size: 62.5%

body
    margin: 0
    padding: 0
    color: $black